*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;

}
#navbar-logo-image-1{
    height: 50px;
    width: 100px;
    padding-top: 12px;
}
#Pakistan{
    font-weight: bold;
    font-size: 0.9rem;

}
#deliverto{
    margin-left: 25px;
    font-size: 0.75rem;
    color: #CCCCCC;
}
#searchbar{
    height: 60px;
    width: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#selectbox{
    height: 42px;
    width: 52px;
    background-color: #E6E6E6;
    border: none;
    text-align: center;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    appearance: none;
}
#textarea{
    height: 40px;
    border: none;
    width: 83%;
    /* width: 350px; */
}
#buttondiv{
    width: 45px;
    height: 42px;
    background-color: rgb(255, 203, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}
#searchbutton{
    width: 45px;
    height: 40px;
    border: none;
    background-color: rgb(255, 203, 107);
    
}
#glass{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.781);
}

#flagbox{
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    padding-top: 15px;
    
}
#flagbox-image{
    height: 16.2px;
    width: 21.6px;
    margin-right: 4px;
}
#flagbox-text{
    padding-top: 6px;
    font-size: 14px;
}
#signinbox{
    height: 50px;
    width: 125px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.boldclass{
    font-weight: bold;
}
#signinbox-1{
    padding-top: 10px;
}
#signinbox-2{
    font-size: 14px;
}

#returnbox{
    height: 50px;
    width: 70px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#returnbox-1{
    padding-top: 10px;
}
#returnbox-2{
    font-size: 14px;
}
#cartbox{
    height: 50px;
    width: 70px;
    display: flex;
    align-items: center;
}
#cartbox-1{
    padding-top: 10px;
    font-size: 25px;
}
#cartbox-2{
    padding-top: 20px;
    font-size: 14px;
}